__pycache__/
*.pyc
*.egg-info/
dist/
build/
node_modules/
package-lock.json
multiplayer_test.js
mp_test2.js
test_load.js
browser_test.js
package.json
mp_test3.js
autoassign_test.js
bc_test.js
bc_test2.js
bc_test3.js
bc_test.js
bc_test2.js
bc_test3.js
